<!-- ejs_views/footer.ejs -->

<div class="row justify-content-center">
    <div class="col-md-5 text-center">
        <img src="assets/nuno.png"> 
        <p> App Developed by Devin Ashcraft, 
            Griffin Jones, Trung Le, Utsav 
            (Robby) Walter
        </p>
        <strong>Contact Info</strong>
        <p>(405) 815-7798<br>Dashcraft2@uco.edu</p>
        <a href="https://www.linkedin.com/in/devin-ashcraft-1904a2199/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Drwildy" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.facebook.com/DevinAshcraft" target="_blank"><i class="fa fa-facebook"></i></a>
    </div>
    <hr class="socket">
    &copy; UCO Wheelchair Accessibility Map
</div>