<!-- ejs_views/head.ejs -->
<meta charset="UTF-8">
<title>UCO Wheelchair Map Service</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A quick build to give directions to different wheelchair acessible entrances">
<meta name="author" content="Devin Ashcraft">

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       


<!-- JQuery Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
<!-- CSS STYLE -->
<base href="/">
<link href= "/assets/style.css" rel="stylesheet" type="text/css" /> 
<link href= "/assets/fixed.css" rel="stylesheet" type="text/css" /> 

<!--CSS fonts-->
<link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">

<!--Font Awesome Icons-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--JQuery Backstretch-->
